html {
  background: #000 url("../img/tiles.png") repeat bottom center;
}

body {
  background-color: transparent;
}

footer {
  color: white;
}

.navbar {
  background: url("../img/bg-topbar.png") no-repeat center;
}

/* Minecraft Boxes */
@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/Minecraftia-Regular.ttf");
}

.minecraft-input {
  font-family: Minecraftia, sans-serif;
}

.minecraft-input-text {
  color: #A0A0A0;
}

.minecraft-input-box {
  width: 100%;
  aspect-ratio: 450 / 45;
  background-color: black;
  border-style: solid;
  border-color: #A0A0A0;
  border-width: 2px;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  text-align: left;
  padding-left: 1vw;
}

.minecraft-input-box-text {
  color: #FEFEFE;

  display: table-cell;
}

.minecraft-input-box-text span {
  vertical-align: middle;
}

/* Buttons from https://codepen.io/joexmdq/pen/EOMLzg */

.minecraft-button {
  font-family: Minecraftia, sans-serif;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  background: #999 url('../img/bgbtn.png') center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
}

.minecraft-input-box-button {
  position: absolute;
  right: 0;
  margin-right: 30px;

  height: 45%;
}

/* Mouse over */
.minecraft-button:hover .minecraft-button-title {
  background-color: rgba(100, 100, 255, .45);
  text-shadow: 2px 2px #202013CC;
  color: #FFFFA0;
}
.minecraft-button:active .minecraft-button-title {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}
/* Button title */
.minecraft-button .minecraft-button-title {
  width: 100%;
  height: 100%;
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: calc(4px + .2em);
  padding-top: .2em;
  text-align: center;

  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}
.minecraft-button .minecraft-button-title span {
  vertical-align: middle;
}

