html {
  background: #000 url("../img/tiles.png") repeat bottom center;
}

body {
  background-color: transparent;
}

footer {
  color: white;
}

.navbar {
  background: url("../img/bg-topbar.png") no-repeat center;
}

/* Minecraft Boxes */
@font-face {
  font-family: "Minecraftia";
  src: url("../fonts/Minecraftia-Regular.ttf");
}

.minecraft-input {
  font-family: Minecraftia, sans-serif;
}

.minecraft-input-text {
  color: #A0A0A0;
}

.minecraft-input-box {
  width: 100%;
  aspect-ratio: 450 / 45;
  background-color: black;
  border-style: solid;
  border-color: #A0A0A0;
  border-width: 2px;

  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;

  text-align: left;
  padding-left: 1vw;
}

.minecaft-input-server-address-mobile .minecraft-input-box {
  aspect-ratio: unset;
}

.minecraft-input-box-text {
  color: #FEFEFE;
  padding-top: 0.06em;

  display: block;
  width: 65%;
}

.minecraft-input-box-text span {
  vertical-align: middle;
}

/* Buttons from https://codepen.io/joexmdq/pen/EOMLzg */

.minecraft-button {
  font-family: Minecraftia, sans-serif;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;

  background: #999 url('../img/bgbtn.png') center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
}

.minecraft-input-box-button {
  /*position: absolute;*/
  /*right: 0;*/
  /*margin-right: 30px;*/
  width: 30%;

  /*height: 45%;*/
}

.minecaft-input-server-address-mobile .minecraft-input-box-button {
  position: unset;
  right: unset;
  margin-right: unset;
  height: 100%;
  width: 100%;
}

/* Mouse over */
.minecraft-button:hover .minecraft-button-title {
  background-color: rgba(100, 100, 255, .45);
  text-shadow: 2px 2px #202013CC;
  color: #FFFFA0;
}
.minecraft-button:active .minecraft-button-title {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}
/* Button title */
.minecraft-button .minecraft-button-title {
  width: 100%;
  height: 100%;
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: calc(4px + .2em);
  padding-top: .3em;
  text-align: center;

  color: #DDD;
  text-shadow: 2px 2px #000A;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}
.minecraft-button .minecraft-button-title span {
  vertical-align: middle;
}

/* Vote modal */
.vote-modal-container {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.vote-modal-container .container {
  z-index: 3;
}

.vote-modal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.vote-modal-container-background {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
}

.votesite-button-animate {
  -webkit-animation: vote-button-anim 1s;
  animation: vote-button-anim 1s;
}

@keyframes vote-button-anim {
  0% {left: -100vw;}
  100% {left: 0;}
}
@-webkit-keyframes vote-button-anim {
  0% {left: -100vw;}
  100% {left: 0;}
}

/* Media query */

@media screen and (min-width: 0px) and (max-width: 400px) {
  .minecaft-input-server-address-desktop {
    display: none;
  }
}

@media screen and (min-width: 401px) {
  .minecaft-input-server-address-mobile {
    display: none;
  }
}


